examples/.ipynb_checkpoints/RectPDE Examples-checkpoint.ipynb
examples/.ipynb_checkpoints/Wave and Klein-Gordon equation on a square-checkpoint.ipynb
examples/.ipynb_checkpoints/Manipulate Helmholtz-checkpoint.ipynb
examples/.ipynb_checkpoints/RectPDE Timings-checkpoint.ipynb
examples/.ipynb_checkpoints/PDE Examples-checkpoint.ipynb
examples/.ipynb_checkpoints/Periodic PDEs-checkpoint.ipynb
examples/.ipynb_checkpoints/Rectangle PDEs-checkpoint.ipynb
examples/.ipynb_checkpoints/Time Evolution PDEs on Square-checkpoint.ipynb
examples/.ipynb_checkpoints/Time Evolution PDEs on Disk-checkpoint.ipynb
examples/.ipynb_checkpoints/PDE Timings-checkpoint.ipynb
examples/.ipynb_checkpoints/Disk PDEs-checkpoint.ipynb
examples/.ipynb_checkpoints/Manipulate ODEs and PDEs-checkpoint.ipynb
examples/.ipynb_checkpoints/Time Evolution PDEs on Interval-checkpoint.ipynb
examples/.ipynb_checkpoints/Time Evolution PDEs on Square (Gadfly)-checkpoint.ipynb
examples/.ipynb_checkpoints/Time Evolution PDEs on Square (GLPlot)-checkpoint.ipynb
