examples/.ipynb_checkpoints/RectPDE Examples-checkpoint.ipynb
examples/.ipynb_checkpoints/Wave and Klein-Gordon equation on a square-checkpoint.ipynb
examples/.ipynb_checkpoints/Manipulate Helmholtz-checkpoint.ipynb
