# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - "1.0"
  - "1.3"
  - "1.4"  
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
after_script:
  - bash ./docs/travis.sh
codecov: true


# uncomment the following lines to override the default test script
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - travis_wait 30 julia --project -e 'using Pkg; Pkg.build(); Pkg.test(; coverage=true)';
